.error('*ngIf'='!loading && noMore')
  .joke-error wala na finish na. come back later for more 
    a('(click)'='reloadAndReset()') jokes!
.loading('*ngIf'='loading') loading....
.joke-box('*ngIf'='currentJoke')
  .joke.show('*ngIf'='jokeState !== "no-joke"')
    .joke-title {{currentJoke.joke}}
    br
    button.btn.btn-warning('(click)'='nextState()' '*ngIf'='jokeState !== "show-answer" && !currentJoke.empty') {{currentJoke.buttonText}}
    br
    .joke-answer('*ngIf'='jokeState === "show-answer"') {{currentJoke.answer}}
    br
    br
  button.btn.btn-success('(click)'='nextState()' '*ngIf'='jokeState === "no-joke" || jokeState === "show-answer"') {{buttonText}}